*{
   margin: 0;
   pad: 0;
   box-sizing: border-box;
}


body{
   font-family: 'PT Sans', sans-serif;
}

.container{
   width: 100%;
   margin: 0 auto;
}

.img{
   max-width: 100%;
}

.fixed{
   position: fixed;
}

.flex{
   display: flex;
}

.light-title{
   font-size: 15px;
   color: rgba(228, 228, 228, 0.802);
   padding: 30px 0;
}

:root{
   --lightpurple: rgb(151,146,228);
}








.debug{
   background-color: rgba(199, 199, 199, 0.667);
}




.border{
   border: 1px solid;
}





/* INIZIO HEADER */

/* START-MENU */
section.start-menu{
   color: white;
   background-color: rgb(0, 130, 250);
}

.container.start-menu{
   height: 75px;
   align-items: center;
   padding: 0 10px;
}

.start-menu .box{
   width: 50%;
}

.hamburger{
   padding: 20px;
   width: 50%;
   text-align: right;
   font-size: 25px;
}

.start-menu .box.link{
   display: none;
   list-style: none;
}

.start-menu a{
   color: white;
   text-decoration: none;
}

.start-menu ul .btn.white.start-menu{
   color: black;
   background-color: white;
   padding: 8px 10px;
   border-radius: 20px;
}




/* DEMO */
.container.demo{
   justify-content: center;
}

.demo .card{
   width: 100%;
   flex-direction: column;
}

.demo .card .first.row,
.demo .card .second.row{
   width: 100%;
   flex-direction: column;
}

.demo .col{
   border: 1px solid;
   width: 100%;
   height: 350px;
   margin-top: 20px;
   padding: 10px;

}

.demo .first.row .col:first-child{
   height: 600px;
}

.inner-box{
   width: 100%;
   height: 100%;
   background-color: rgb(181, 221, 255);
   padding: 25px;
   border-radius: 30px;
}





/* FINE HEADER */










/* MAIN */

/* SECTION STRATEGIC */
.row.strategic{
   width: 90%;
   height: 1400px;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.strategic .col{
   border: 1px solid;
   width: 90%;
   height: 46%;
}

/* SECTION TESTIMONIALS */
.row.testimonials{
   width: 90%;
   height: 2150px;
   flex-wrap: wrap;
   justify-content: center;
}

.testimonials .box.title{
   height: 350px;
}

.testimonials .box.review{
   height: 500px;
}

.testimonials .box{
   width: 90%;
   border: 1px solid;
}





/* SECTION BENEFIT */
.benefit{
   background-color: var(--lightpurple);
}

.container.benefit{
   width: 90%;
   height: 2850px;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}

.benefit .list{
   width: 90%;
   flex-wrap: wrap;
   justify-content: center;
}

.benefit .card{
   width: 100%;
   height: 400px;
   border: 1px solid;
   margin: 10px 0;
   background-color: white;
   color: var(--lightpurple);
   border-radius: 30px;
   padding: 20px;
}

h3{
   width: 90%;
   border: 1px solid;
   color: white;
   padding: 0 0;
   text-align: center;
}





/* ABOUT-US */
.container.about-us{
   width: 90%;
   height: 1600px;
   justify-content: center;
}

.about-us .box{
   width: 90%;
   flex-direction: column;
   align-items: center;
}

.about-us.description{
   width: 100%;
   height: 1000px;
   border: 1px solid;
}

.img.with-text{
   width: 100%;
   height: 600px;
   border: 1px solid;
}           

/* SECTION GET-STARTED */
.get-started{
   background-color: var(--lightpurple);
   color: white;
   padding-bottom: 20px;
}

.container.get-started{
   width: 90%;
   justify-content: center;
   align-items: center;
}

.get-started .box{
   width: 80%;
   max-width: 600px;
   min-width: 230px;
   border: 1px solid;
   text-align: center;
}

h4{
   font-size: 25px;
}

p.esclamation{
   font-size: 50px;
   font-weight: 800;
   padding: 40px 0;
   color: rgb(253, 193, 95);
}

.get-started .box p:nth-child(4){
   line-height: 180%;
}

.get-started .btn{
   display: inline-block;
   background-color: white;
   padding: 20px 75px;
   border-radius: 30px;
   margin: 50px 0;
}

.get-started .btn a{
   color: var(--lightpurple);
   text-decoration: none;
}

.fa-circle{
   font-size: 7px;
   padding-bottom: 3px;
}

.get-started a{
   color: white;
}






/* FOOTER */
footer{
   background-color: rgb(51, 51, 51);
   font-size: 14px;
   padding-bottom: 20px;
}

.container.end-menu{
   width: 75%;
   justify-content: center;
   color: white;

}
.end-menu .box{
   width: 90%;
   max-width: 420px;
   min-width: 230px;
   border: 1px solid;
}

.end-menu p{
   padding-top: 60px;
   text-align: center;
}

.end-menu a{
   color: var(--lightpurple);
   text-align: center;
}











/* MEDIA QUERY */

/* TABLET IN POI */
@media(min-width: 768px){
   .container{
      max-width: 720px;
   }

   .demo .col{
      height: 560px;
   }

   .demo .first.row .col:first-child{
      width: 66.6%;
      height: 560px;
   }
   
   .demo .col.clean{
      width: 33.3%;
   }

   .demo .card .second.row .col{
      width: calc(100% / 3);
   }

   .demo .card .first.row,
   .demo .card .second.row{
      flex-direction: row;
      flex-wrap: wrap;
   }










   /* strategic */
   .row.strategic{
      height: 2100px;
   }

   
   /* testimonials */
   .row.testimonials{
      height: 1300px;
   }
   
   .testimonials .box.title,
   .testimonials .box.review{
         height: 300px;
   }

   /* benefit */
   .container.benefit{
      height: 1500px;
   }

   .benefit .list .card{
      width: 50%;
   }

   /* about-us */
   .container.about-us{
      height: 1000px;
      justify-content: center;
   }

   .about-us .box{
      flex-direction: row;
      align-items: start;
   }

   .about-us.description{
      width: 60%;
      height: 900px;
   }
   
   .img.with-text{
      width: 40%;
      height: 600px;
   }           

   /* get-started */


   /* footer */








}



/* DESKTOP IN POI */
@media(min-width: 1200px){
   .container{
      max-width: 1140px;
   }


   /* start-menu */
   .start-menu .box.link{
      display: block;
      width: 50%;
   }

   .box.link > li{
      display: inline-block;
      margin: 0 13px;
   }

   .hamburger{
      display: none;
   }




   /* demo */
   .demo .col,
   .demo .first.row .col:first-child{
      height: 350px;
   }












   
   /* strategic */
   .row.strategic{
      height: 940px;
      flex-direction: row;
   }

   .strategic .col{
      height: 80%;
   }

   /* testimonials */
   .container.benefit{
      height: 1100px;
   }

   .benefit .list .card{
      width: calc(100% / 3);
   }

   /* about-us */
   .container.about-us{
      height: 900px;
   }

   .about-us.description{
      width: 70%;
      height: 700px;
   }
   
   .img.with-text{
      width: 30%;
      height: 550px;
   }           

   /* get-started */


   /* footer */







}




