*{
   margin: 0;
   pad: 0;
   box-sizing: border-box;
}

body{
   font-family: 'PT Sans', sans-serif;
}

.container{
   width: 100%;
   margin: 50px auto;
}

.img{
   max-width: 100%;
}

.fixed{
   position: fixed;
}

.flex{
   display: flex;
}

.relative{
   position: relative;
}

.absolute{
   position: absolute;
}

.light-title{
   font-size: 15px;
   color: rgba(228, 228, 228, 0.802);
   padding: 30px 0;
}

:root{
   --lightpurple: rgb(151,146,228);
}






/* INIZIO HEADER */

/* START-MENU */
section.start-menu{
   width: 100%;
   color: white;
   background-color: rgb(0, 130, 250);
   justify-content: center;
   z-index: 1;
}

.container.start-menu{
   height: 75px;
   align-items: center;
   padding: 0 20px;
   margin: 0 auto;
}

.start-menu .box{
   width: 50%;
}

.hamburger{
   width: 50%;
   text-align: right;
   font-size: 25px;
}

.start-menu .box.link{
   display: none;
   list-style: none;
}

.start-menu a{
   color: white;
   text-decoration: none;
}

.start-menu ul .btn.white.start-menu{
   color: black;
   background-color: white;
   padding: 8px 10px;
   border-radius: 20px;
}




/* DEMO */
.container.demo{
   justify-content: center;
   margin-top: 100px;
   margin-left: 20px;
   margin-right: 20px;
}

.demo .card{
   width: 100%;
   flex-direction: column;
}

.demo .card .first.row,
.demo .card .second.row{
   width: 100%;
   flex-direction: column;
}

.demo .first.row{
   margin-top: 30px;
}

.demo .col{
   width: 100%;
   height: auto;
   margin-top: 0px;
   padding: 10px;
}

.inner-box{
   width: 100%;
   height: 100%;
   background-color: rgb(181, 221, 255);
   padding: 25px;
   border-radius: 30px;
}

.demo h4{
   color: rgb(0, 130, 250);
   margin-bottom: 30px;
   text-align: center;
}

.demo .inner-box.get p{
   line-height: 170%;
   font-weight: 500;
   text-align: left;
}

.box.btn.demo{
   margin: 40px 20px;
}

.btn.blue.demo{
   text-decoration: none;
   color: white;
   padding: 10px 60px;
   font-weight: 800;
   background-color: rgb(0, 130, 250);
   border-radius: 30px;
}

.img.get{
   width: 100%;
   height: 100%;
   object-fit: contain;
}

.inner-box.get{
   padding-bottom: 0;
   flex-direction: column;
}

.demo .down{
   height: 320px;
}

.icon.demo{
   text-align: center;
   margin: 20px 0 30px 0 ;
   font-size: 40px;
   color: rgb(0, 130, 250);
}

.demo .inner-box p{
   text-align: center;
   line-height: 170%;
}
/* FINE HEADER */






/* MAIN */

/* SECTION STRATEGIC */
section.strategic{
   background-color: rgb(151, 146, 228);
   padding-bottom: 0px;
}

.strategic .row{
   width: 100%;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.strategic .col{
   width: 90%;
   height: auto;
}

.strategic .col{
   flex-direction: column;
}

.strategic h4{
   margin: 50px 0 40px 0;
   text-align: center;
   color: white;
}

.strategic p{
   color: white;
   line-height: 170%;
}

.strategic .second.col{
   margin-top: 40px;
   padding: 10px;
   background-color: white;
   border-radius: 50px;
   align-items: center;
}

.strategic h5{
   font-size: 20px;
}

.strategic .second.col p{
   text-align: center;
   margin: 20px 0 40px 0;
   font-style: oblique;
   color: black;
}

.purple-circle{
   width: 50px;
   border-radius: 50%;
   background-color: var(--lightpurple);
   text-align: center;
   padding: 15px;
   margin-bottom: 20px;
}



/* SECTION TESTIMONIALS */
.testimonials .row{
   width: 90%;
   flex-wrap: wrap;
   justify-content: center;
}

.testimonials .box{
   width: 90%;
   flex-wrap: wrap;
   justify-content: center;
   padding: 0 20px;
   margin-top: 30px;
}

.testimonials .box.title,
.testimonials .box.review{
   text-align: center;
}

.testimonials p.light-title{
   color: rgb(41, 41, 41);
   font-size: 18px;
   padding: 0;
}

.testimonials h2{
   font-size: 30px;
   color: var(--lightpurple);
   margin: 20px 0;
}

.testimonials p{

   line-height: 180%;
   margin-bottom: 20px;
}

.box.review{
   background-color: var(--lightpurple);
   border-radius: 50px;
   padding: 20px;
   color: white;
}

.img.testimonials{
   width: 200px;
   height: 200px;
   object-fit: cover;
   border-radius: 50%;
   margin-bottom: 20px;
}




/* SECTION BENEFIT */
section.benefit{
   background-color: var(--lightpurple);
}

.container.benefit{
   width: 90%;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}

.benefit .list{
   width: 90%;
   flex-wrap: wrap;
   justify-content: center;
}

.benefit .card{
   width: 100%;
   margin: 20px 0;
   background-color: white;
   color: var(--lightpurple);
   border-radius: 30px;
   padding: 20px;
}

.benefit h3{
   max-width: 240px;
   font-size: 25px;
   color: white;
   padding: 20px 0 40px 0;
   text-align: center;
}

.benefit h2{
   font-size: 50px;
}

.benefit h4{
   margin-top: 20px;
}

.benefit p{
   margin: 20px 0 30px 0;
   line-height: 170%;
   color: black;
}

.benefit .btn.purple{
   background-color: var(--lightpurple);
   color: white;
   padding: 10px 50px;
   border-radius: 30px;
   text-decoration: none;
}

.box.btn{
   margin-bottom: 20px;
}


/* ABOUT-US */
.container.about-us{
   width: 90%;
   justify-content: center;
}

.about-us .box{
   width: 90%;
   flex-direction: column;
   align-items: center;
}

.about-us .first.col{
   width: 100%;
   height: auto;
}

.about-us h2{
   color: var(--lightpurple);
   margin: 30px 0 30px 0;
   font-size: 50px;
}

.about-us .first.col p{
   line-height: 220%;
   margin-bottom: 30px;
}

.about-us .second.col{
   width: 100%;
   height: auto;
   padding: 10px;
}           

.img.about-us{
   max-width: 170px;
   border-radius: 50%;
}

.about-us .second.col p{
   color: var(--lightpurple);
   font-size: 20px;
   font-weight: 700;
   margin: 10px 0 40px 0;
}

.about-us .btn.purple{
   color: white;
   background-color: var(--lightpurple);
   padding: 4px 10px;
   text-decoration: none;
   border-radius: 30px;
}

.about-us .box.btn{
   margin-bottom: 40px;
}





/* SECTION GET-STARTED */
.get-started{
   background-color: var(--lightpurple);
   color: white;
}

.container.get-started{
   width: 90%;
   justify-content: center;
   align-items: center;
}

.get-started .box{
   width: 75%;
   max-width: 600px;
   min-width: 230px;
   text-align: center;
}

h4{
   font-size: 25px;
}

p.esclamation{
   font-size: 50px;
   font-weight: 800;
   padding: 20px 0;
   color: rgb(253, 193, 95);
}

.get-started .box p:nth-child(4){
   line-height: 180%;
}

.get-started .btn{
   display: inline-block;
   background-color: white;
   padding: 20px 75px;
   border-radius: 30px;
   margin: 30px 0;
}

.get-started .btn a{
   color: var(--lightpurple);
   text-decoration: none;
}

.fa-circle{
   font-size: 7px;
   padding-bottom: 3px;
}

.get-started a{
   color: white;
}





/* FOOTER */
footer{
   background-color: rgb(51, 51, 51);
   font-size: 14px;
}

.container.end-menu{
   width: 75%;
   justify-content: center;
   color: white;
}
.end-menu .box{
   width: 90%;
   max-width: 420px;
   min-width: 230px;
}

.end-menu p{
   text-align: center;
}

.end-menu p:nth-child(1){
   margin-bottom: 50px;
}

.end-menu a{
   color: var(--lightpurple);
}


















/* MEDIA QUERY */

/* TABLET IN POI */
@media(min-width: 768px){

   .container{
      max-width: 720px;
   }


   /* demo */
   .container.demo{
      justify-content: center;
      margin: 80px auto;
   }

   .demo .col{
      height: 560px;
   }

   .demo .first.row .col:first-child{
      width: 66.6%;
      height: 560px;
   }
   
   .demo .col.clean{
      width: 33.3%;
   }

   .demo .card .second.row .col{
      width: calc(100% / 3);
   }

   .demo .card .first.row,
   .demo .card .second.row{
      flex-direction: row;
      flex-wrap: wrap;
   }

   .box.btn.demo{
      margin: 40px 0;
   }

   .img.get{
      width: 250px
   }





   /* strategic */
   .strategic .second.col{
      padding: 60px;
      height: 860px;
   }

   


   /* testimonials */
   .testimonials .box.review{
      justify-content: space-between;
      align-items: center;
   }
   
   .testimonials .box-img{
      margin-top: 20px;
      width: 35%;
   }

   .testimonials .box-text{
      width: 60%;
   }

   .testimonials .box.review{
      text-align: left;
   }




   /* benefit */
   section.benefit{
      margin-top: 80px;
   }

   .benefit .list .card{
      width: 46%;
      margin: 10px 10px;
   }

   .benefit h3{
      max-width: 100%;
   }





   /* about-us */
   .container.about-us{
      justify-content: center;
   }

   .about-us .box{
      flex-direction: row;
      align-items: start;
      justify-content: space-between;
   }

   .about-us .first.col{
      width: 62%;
   }
   
   .about-us .second.col{
      width: 34%;
      margin-top: 20px;
   }           


   /* get-started */


   /* footer */

}

















/* DESKTOP IN POI */
@media(min-width: 1200px){

   .container{
      max-width: 1140px;
   }


   /* start-menu */
   .start-menu .box.link{
      display: block;
      width: 50%;
   }

   .box.link > li{
      display: inline-block;
      margin: 0 12px;
   }

   .hamburger{
      display: none;
   }



   /* demo */
   .demo .col,
   .demo .first.row .col:first-child{
      height: 350px;
   }

   .inner-box.get{
      flex-direction: row;
   }

   .demo .up,
   .demo .down{
      width: 50%;
   }

   .img.get{
      width: 260px;
   }



   
   /* strategic */
   .container.strategic{
      
      max-width: 900px;
   }

   .strategic .row{
      height: 970px;
      flex-direction: row;
   }

   .strategic .col{
      height: 80%;
   }

   .strategic .first.col h4{
      margin-top: 100px;
   }

   .strategic .second.col{
      height: 700px;
      margin-top: 80px;
      padding: 10px;
   }

   .img.strategic{
      width: 80%;
      margin: 0 40px;
   }

   .second.col p{
      margin-bottom: 30px;
   }





   /* testimonials */
   .testimonials .box-img{
      width: 25%;
   }

   .testimonials .box-text{
      width: 75%;
   }





    /* benefit */
   .benefit .list .card{
      width: 31%;
   }




   /* about-us */
   .about-us .first.col{
      width: 65%;
   }
   
   .about-us .second.col{
      width: 30%;
   }           





   /* get-started */


   /* footer */

}




