*{
   margin: 0;
   pad: 0;
   box-sizing: border-box;
}


body{
   font-family: 'PT Sans', sans-serif;
}

.flex{
   display: flex;
}

.column{
   flex-direction: column;
}

.debug{
   background-color: rgba(199, 199, 199, 0.667);
}







.border{
   border: 1px solid;
}

.container{
   width: 1150px;
   margin: 0 auto;
}



/* INIZIO HEADER */

/* START-MENU */
section.start.menu{
   justify-content: center;
}

.container.start-menu{
   height: 75px;
   align-items: center;
   padding: 0 10px;
}

.start-menu .box{
   width: 50%;
}

.box.nav{
   display: none;
}

.hamburger{
   padding: 20px;
   width: 50%;
   text-align: right;
}


/* DEMO */
.container.demo{
   justify-content: center;
}

.card{
   width: 90%;
   flex-direction: column;
}

.demo .card .first.row,
.demo .card .second.row{
   width: 100%;
   flex-direction: column;
}

.demo .box{
   border: 1px solid;
   width: 100%;
   height: 350px;
   margin-top: 20px;
}

.demo .first.row .box:first-child{
   height: 600px;
}

/* FINE HEADER */


/* MAIN */

.row.strategic{
   
}




















/* MEDIA QUERY */

/* TABLET IN POI */
@media(min-width: 768px){

   .container{
      width: 100%;
   }

   .demo .box{
      height: 560px;
   }

   .demo .first.row .box:first-child{
      width: 66.6%;
      height: 560px;
   }
   
   .demo .box.clean{
      width: 33.3%;
   }

   .demo .card .second.row .box{
      width: calc(100% / 3);
   }

   .demo .card .first.row,
   .demo .card .second.row{
      flex-direction: row;
      flex-wrap: wrap;
   }


}



/* DESKTOP IN POI */
@media(min-width: 1200px){

   .box.nav{
      display: block;
      width: 50%;
   }

   .box.nav > span{
      display: inline-block;
      margin: 0 20px;
   }

   .hamburger{
      display: none;
   }


   .demo .box,
   .demo .first.row .box:first-child{
      height: 350px;
   }


}




